    @use "../../styles/variables" as *;

.signIn {
    background-color: $color-background;
    height: 100vh;
    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 93vh;
    }
    &__contents{
        display: flex;
        flex-direction: column;
        background-color: $background-color;
        width: 28rem;
        height: 28rem;
        padding: 0 2.5rem;
    }
    &__welcome{
        display: flex;
        width: 100%;
        align-items: center;
        margin-bottom: -0.5rem;
    }
    &__message{
        font-weight: 500;
            color:$color-heading;
            font-size: 1rem;
    }

    &__img{
        height: 1.5rem;
            aspect-ratio: 1 / 1;
            margin-right: 14rem;
    }
    &__intro{
        font-size: 0.7rem;
        color:$color-text-secondary;
    }
    &__options{
        color:$color-text-secondary;
        font-size: 0.8rem;
        display: flex;
        justify-content: space-between;
        width: 140%;
        margin-top: 2rem;
    }
    &__link{
        color:$color-primary;
            text-decoration:underline dotted;

    }
    &__line{
        height: 1px;
        width: 100%;
        border-bottom: 1px solid $line-divider;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-self: center;

    }
    &__submit{
        background-color: $color-primary;
        color: $color-funds-text;
        width: 5rem;
        height: 2rem;
        align-self: flex-end;
        border-radius: 5px;
        border: none;

    }
}   
