@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.landing-header {
  background-color: $color-background-light;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4.5rem;

  &__logo {
    width: 2rem;
  }
  &__sign-in {
    font-family: $font-link;
    font-weight: 400;
    font-size: 1rem;
    color: $color-footer-text;
    padding-right: 0.4rem;
    text-decoration-style: dotted;
  }
}
.landing-footer {
  background-color: $color-footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4.5rem;

  &__logo {
    width: 2rem;
  }
}
.top-section {
  background-image: url("../../assets/background-images/landing-bg.png");
  min-width: 100vw;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__title {
    width: 46.5rem;
    font-family: $font-heading;
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 110%;
    color: #0b2251;
  }
  &__highlight {
    color: $color-primary;
  }
  &__text {
    width: 38.2rem;
    font-family: $font-login-text;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 150%;
    color: $color-footer-text;
  }

  &__screenshot {
    width: 65vw;
  }
}

.bank-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 28.8rem;
  text-align: center;

  &__title {
    font-family: $font-heading;
    font-size: 2rem;
    color: $color-heading;
    font-weight: 500;
    padding: 3.1rem;
  }
  &__logos{
    width: 85vw;
  }
}

.award-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 35rem;
  background-color: $color-background-light;
  &__title {
    font-weight: 500;
    font-family: $font-heading;
    font-size: 1.7rem;
    padding-bottom: 4rem;
  }
  &__features-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4.5rem;

    &__logo{
        width: 2rem;
    }
    &__sign-in{
        font-family: $font-link;
        font-weight: 400;
        font-size: 1rem;
        color: $color-footer-text;
        padding-right: 0.4rem;
        text-decoration-style: dotted;
    }
    }
}
.landing-footer{
    background-color: $color-footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4.5rem;

    &__logo{
        width: 2rem;
    }
}
.top-section{
    background-image: url("../../assets/background-images/landing-bg.png");
    min-width: 100vw;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0 5rem 4rem 5rem;
    &__title{
        width: 46.5rem;
        font-family: $font-heading;
        font-style: normal;
        font-weight: 600;
        font-size: 3rem;
        line-height: 110%;
        color: $color-top-section-title;
        padding-bottom: 1rem;
    }
    &__highlight{
        color:$color-primary;
    }
    &__text{
        width: 38.2rem;
        font-family: $font-login-text;
        font-style: normal;
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 150%;
        color: $color-footer-text;
        padding-bottom: 1rem;
    }

    &__screenshot{
        width: 65vw;
    }

    
  }


.conversion-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 35rem;

    &__title{
        font-family: $font-heading;
        font-size: 2rem;
        color: $color-heading;
        font-weight: 500;
        padding: 3.1rem;
    }
    &__logos {
        width: 85vw;
    }
}

.rates-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 43.8rem;

  &__title {
    font-weight: 400;
    font-family: $font-heading;
    font-size: 2rem;
    color: $color-heading;
    height: 2.5rem;
  }
  &__text {
    font-weight: 400;
    font-family: $font-main;
    font-size: 1rem;
    color: #8896a3;
    height: 6.3rem;
    width: 35rem;
  }
}

.conversion-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 35rem;
    background: linear-gradient(to bottom, $color-primary 0% 60%, $color-funds-text 60% 100%);
    &__title{
        font-weight: 500;
        font-family: $font-heading;
        font-size: 2.5rem;
        color: $color-funds-text;
    }
    &__text{
        font-weight: 400;
        font-family: $font-login-text;
        font-size: 1.1rem;
        color: $color-funds-text;
    }
    &__screenshot {
        width: 75vw;
    }
}

.rates-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 43.8rem;

    &__title{
        font-weight: 400;
        font-family: $font-heading;
        font-size: 2rem;
        color: $color-heading;
        height: 2.5rem;
    }
    &__text{
        font-weight: 400;
        font-family: $font-main;
        font-size: 1rem;
        color: #8896A3;
        height: 6.3rem;
        width: 34.8rem;
    }
    &__screenshot {
        width: 85vw;
    }
}
