@use "../../styles/_variables.scss" as *;
@use "../../styles/_typography.scss" as *;

.live-rates-main{
  padding-left: 2rem;
  margin-left: 11rem;
}

.logged-in-container{
  display: flex;
  justify-content: end;
}

.info {
  width: 40%;
  padding-left: 1rem;
  margin: 2rem 0 2rem 1rem;
  &__transfer {
    font-size: 0.7rem;
    color: $color-primary;
    letter-spacing: 0.05rem;
    width: 100rem;
    font-family: $font-heading;
  }
  &__heading {
    font-family: $font-heading;
    font-weight: 400;
    font-size: 1.5rem;
  }
  &__content {
    font-family: $font-main;
    color: $color-text-secondary;
    font-size: 0.7rem;
    word-spacing: 0.1rem;
    line-height: 1rem;
  }
}
.container {
  width: 90%;
  padding-left: 1rem;
  margin: 2rem 0 2rem 1rem;
  &__title {
    color: $color-text;
    display: grid;
    grid-template-columns: 3em 1fr 1fr 1fr 1fr 3em;
  }
  &__head {
    font-size: 0.8rem;
    &--currency{
      grid-column-start: 2;
      grid-column-end: 3;
    }
    &--amount{
      grid-column-start: 3;
      grid-column-end: 4;
    }
    &--rate{
      grid-column-start: 4;
      grid-column-end: 6;
    }
  }
}

.dropdown-container{
  display: flex;
  padding-left: 1rem;
  margin: 2rem 0 2rem 1rem;
  &__dropdown-item{
    list-style: none;
    padding: 0.3em 1em;
    margin: 0.1em;
    border: 0.1em solid $color-text-secondary;
    background-color: $color-input-background;
    color: $color-text-secondary;
  }
  &__button{
    padding: 1em;
  }

}