@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.funds{
    position: absolute;
    width: 16.438rem;
    height: 15.75rem;
    left: 0rem;
    top: 0rem;
    background-image: url("../../assets/background-images/funds-background.png");
    border-radius: 1.563rem 0 1.563rem 1.563rem;
    color: $color-funds-text;
    padding: 1.625rem;
    font-style: normal;
    font-weight: 500;

    &__title{
        font-size: 1.25rem;
        font-family: $font-main;
    }
    &__amount{
        font-size: 3rem;
        font-family: $font-main;
    }
}