@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.funds {
  background-size: cover;
  width: 16.4rem;
  height: 15.7rem;
  left: 0rem;
  top: 0rem;
  background-image: url("../../assets/background-images/funds-background.png");
  border-radius: 1.5rem 0 1.5rem 1.5rem;
  color: $color-funds-text;
  padding: 1.6rem;
  font-style: normal;
  font-weight: 500;

  &__title {
    font-size: 1.2rem;
    font-family: $font-main;
  }
  &__amount {
    font-size: 3rem;
    font-family: $font-main;
  }
}
