@use "../../styles/variables.scss" as *;
@use "../../styles/typography.scss" as *;

.bank-contact {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    color: $color-text;
    font-weight: 400;
    font-size: 0.7rem;
    line-height: 1.25rem;
    height: 3.5rem;
    font-family: $font-heading;
    background: $color-currency-background;
    padding: 0 0.5rem;
    align-items: center;
    margin: 1rem 0;
    &__img {
        width: 1.8rem;
        height: 1.8rem;
    }
    &__bin {
        width: 1rem;
        height: 1rem;
    }
}

.hide {
    display: none;
}