// breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-desktop-breakpoint: 2560px;


//colors
$text-color: #1f1b1b;
$background-color: #ffffff;

$color-primary: #00CED4;
$color-secondary: #37D8DD;
$color-gradient: #25EFF5;
$color-heading: #06020A;
$color-text: #5B6D7D;
$color-background: #E5E5E5;
$color-background-light: #F1FFFF;
$color-footer: #2A2C31;
$color-footer-text: #839AAF;
$color-input-text:#A6AFBD;
$color-input-background:#FBFBFC;
$color-input-border:#E2E2E2;
$color-error-input:#DF1C1C;
$color-success-input:#57E141;
$color-logo-header: #343C49;
$color-currency: #AFAFAF;
$color-text-secondary: #8896A3;
$color-currency-background: #FBFBFC;
$color-menu-unselected: #A6AFBD;
$color-funds-text:#FFFFFF;
$line-divider: #f1f1f1;
$color-top-section-title:#0B2251;
