// breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-desktop-breakpoint: 2560px;

//colors
$text-color: #1f1b1b;
$background-color: #ffffff;

$color-primary: #00ced4;
$color-secondary: #37d8dd;
$color-gradient: #25eff5;
$color-heading: #06020a;
$color-text: #5b6d7d;
$color-background: #e5e5e5;
$color-background-light: #f1ffff;
$color-footer: #2a2c31;
$color-footer-text: #839aaf;
$color-input-text: #a6afbd;
$color-input-background: #fbfbfc;
$color-input-border: #e2e2e2;
$color-error-input: #df1c1c;
$color-success-input: #57e141;
$color-logo-header: #343c49;
$color-currency: #afafaf;
$color-text-secondary: #8896a3;
$color-currency-background: #fbfbfc;
$color-menu-unselected: #a6afbd;
$color-funds-text: #ffffff;
$line-divider: #f1f1f1;
$color-top-section-title: #0b2251;
$color-box-shadow: rgba(0, 0, 0, 0.03);
$color-background-signUp: #f6fcfc;
