
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;
.input{
    font-family: $font-heading;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;

    &__title{
        color: $color-text;
        
    }
    &__input{
        color: $color-input-text;
        background: $color-input-background;
        border: 0.063rem solid $color-input-border;
        border-radius: 0.375rem;
    }

    &__message{
        font-size: 0.625rem;
        line-height: 0.813rem;
        

        &--error{
            color: $color-error-input;
        }

        &--success{
            color: $color-success-input;
        }
    }
}


