@use "../../styles/typography" as *;
@use "../../styles/variables" as *;

.logo__header {
    display: flex;
    width: auto;
    font-size: 1.6rem;
    margin-bottom: 5rem;
    img {
        margin-top: 0.5rem;
        margin-left: 1.8rem;
        height: 2.5rem;
        width: auto;
    }
    h1 {
    color: $color-logo-header;
    }
}