@use "../../styles/_variables.scss" as *;
@use "../../styles/_typography.scss" as *;

.live-rate {
  display: grid;
  grid-template-columns: 3em 1fr 1fr 1fr 1fr 3em;
  
  background-color: $color-input-background;
  // padding: 0.3rem 2rem;
  color: $color-text-secondary;
  &__icon{
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 0.5em;
  }
  &__currency {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  &__name {
 
    font-family: $font-main;
    font-weight: 400;
    font-size: 0.9rem;
    width: 100%;
  }
  &__amount {
    font-family: $font-main;
    font-weight: 600;
    font-size: 0.9rem;
    grid-column-start: 3;
    grid-column-end: 4;
  }
  &__rate {
  
    font-family: $font-main;
    font-weight: 600;
    font-size: 0.9rem;
    grid-column-start: 4;
    grid-column-end: 5;
  }
  &__button {
    grid-column-start: 5;
    grid-column-end: 6;
    padding: 0.5em;
    display: flex;
    justify-content: end;
  }
}

.current {
  background-color: $color-primary;
  color: $background-color;
  border-radius: 0.5rem 0.5rem 0 0;
}
.flag{
    width: 1.7rem;
    height: 1.3rem;
}