.searchBar {
    display: flex;
    height: 51px;
    width: 221px;
    input {
        border: none;
        border-radius: 10px;
        background-color: #FBFBFC;
        color: #A6AFBD;
        font-size: 16px;
    }
}