@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.display {
    width: 100vw;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0.5rem 0;
    padding: 1rem;
    &__currencies--from {
        font-weight: 400;
        font-family: $font-heading;
        font-size: 1.25rem;
        color: $color-primary;
    }
    &__currencies--to {
        font-weight: 400;
        font-family: $font-heading;
        font-size: 2rem;
        color: $color-heading;
    }
    &__currencies--code {
        font-weight: 400;
        font-family: $font-heading;
        font-size: 0.75rem;
        color: $color-text-secondary;
    }
    &__makeTransfer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__makeTransfer--update {
        font-weight: 400;
        font-family: $font-main;
        font-size: 0.6rem;
        color: $color-text-secondary;
        padding-top: 2.2rem;
    }
}