@import "../../styles/variables.scss";

.transfer__object {
    background-color: $background-color;
    color: $text-color;

    display: grid;
    grid-template-areas: "flag currency armount rate button";

    .transfer__object--flag {
        grid-area: "flag";
    }

    .transfer__object--currency {
        grid-area: "currency";
    }

    .transfer__object--amount {
        grid-area: "amount";
    }

    .transfer__object--rate {
        grid-area: "rate"
    }

    .transfer__object--button {
        grid-area: "button";
    }
}

.transfer__object--active {
    background-color: $text-color;
    color: $background-color;
}