@use "../../styles/typography" as *;
@use "../../styles/variables" as *;

.nav {
  position: absolute;
  width: 12.5rem;
  border: 0.2rem solid;
  border-right-color: $color-currency;
  height: 100vh;

  &__logo {
    margin-left: 2rem;
  }

  &__menu {
    margin: 3rem 0 0 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    h3 {
    color: $color-logo-header;
    }
  }

  &__button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    
    img {
      height: 1.2rem;
      width: auto;
      margin-top: 0.5rem;
      margin-right: 0.7rem;
    }

    p {
      color: $color-menu-unselected;
    }
  }
  .nav__logoutWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 10rem;
    background-color: $color-primary;
    border-radius: 0.3rem;
    img{
      width: 2rem;
      height: 2rem;
    }
}
}