@use "../../styles/typography" as *;
@use "../../styles/variables" as *;

.nav {
  position: absolute;
  width: 15%;
  border: 0.2rem solid;
  border-right-color: $color-currency;
  height: 100vh;
  h1 {
    color: $color-logo-header;
  }
  img {
    margin-top: 0.5rem;
    margin-right: 1.75rem;
    height: 3.5rem;
    width: auto;
  }
  .nav__header {
    display: flex;
    width: auto;
    font-size: 1.6rem;
    margin-bottom: 5rem;
  }
  &__menu {
    margin-left: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__title {
      color: $color-logo-header;
      font-size: 1.4rem;
      padding-left: 1rem;
    }
    .menu__button {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 70%;
      p {
        color: $color-menu-unselected;
      }
      img {
        height: 1.2rem;
        width: auto;
        margin-top: 0.5rem;
        margin-right: 0.7rem;
      }
    }
  }
}
