@use "../../styles/typography" as *;

.nav {
  position: absolute;
  width: 15%;
  border: 2px solid;
  border-right-color: gray;
  h1 {
    color: #343c49;
  }
  img {
    margin-top: 8px;
    margin-right: 25px;
    height: 50px;
    width: auto;
  }

  height: 100vh;
  .nav__header {
    // top: 0px;
    // position: fixed;
    display: flex;
    width: auto;
    font-size: 1.6rem;
    margin-bottom: 5rem;
  }
  .nav__menu {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .nav__menu-header {
      color: #343c49;
      font-size: 20px;
      padding-left: 15px;
    }
    .menu__button-row {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 70%;
      p {
        color: #a6afbd;
      }
      img {
        height: 20px;
        width: auto;
      }
    }
  }
}
