@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.navList{
    list-style: none;
    padding-top: 3.25rem;
    &__listItem {
        display: inline;
        font-family: $font-link;
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.188rem;
        padding: 0.625rem;

        &__anchor{
            text-decoration: none;
            &--unselected{
                color: $color-footer-text;
            }
            &--footer-selected{
                color: $color-funds-text;
            }
            
            &--header-selected{
                color: $color-heading;
            }
        }
    }
}




