@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.wallet-ctner {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding-left: 2rem;
  &__message {
    display: flex;
    width: 15%;
    align-items: center;
    margin: 0 0 1rem 2.5rem;
    .welcome__text {
      color: $color-heading;
      font-size: 1.5rem;
      font-family: $font-heading;
      font-weight: 400;
    }
    img {
      height: 2rem;
      aspect-ratio: 1 / 1;
    }
  }

  &__funds {
    margin: 0 0 5rem 2rem;
  }
}

.wallet {
  display: flex;
  width: 100vw;
  height: auto;
  &-ctner {
    width: 85%;
  }
  &__nav {
    width: 15%;
  }
  &__user {
    display: flex;
    justify-content: flex-end;
    margin-bottom: -1.5rem;
  }
}