@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Outfit:wght@400;500;600&family=Roboto&display=swap");
* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0.5rem 0;
  display: inline-block;
  width: 100%;
}

button {
  font-size: 1rem;
}

h1 {
  font-size: 2.1rem;
}

h2 {
  font-size: 1.65rem;
}

h3 {
  font-size: 1.25rem;
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 110%;
  }
}
@media screen and (min-width: 1024px) {
  :root {
    font-size: 120%;
  }
}
.userProfile {
  display: flex;
  width: 16rem;
  height: 5rem;
  align-items: center;
  justify-content: space-around;
}
.userProfile__name {
  color: #06020a;
  font-size: 1rem;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  max-width: 8rem;
}
.userProfile__pic {
  height: 2.5rem;
  aspect-ratio: 1/1;
}
.userProfile__dropDown {
  height: 0.5rem;
}