@use "../../styles/variables" as *;
@use "../../styles/typography" as *;


.signUp {
  background-color: $color-background;
  height: 100vh;
  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
  }

  &__contents {
    padding: 0.5rem 2rem;
    width: 32rem;
    background-color: $background-color;
  }

  &__header {
    color: $color-heading;
    font-family: $font-heading;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    font-style: normal;
    margin-top: 0.6rem;
    margin-bottom: -2rem;
  }

  &__headerText {
    font-family: $font-login-text;
    color: $color-text;
    font-weight: 400;
    font-size: 0.7rem;
    line-height: 1.18rem;
  }

  &__text {
    font-family: $font-login-text;
    color: $color-text;
    display: flex;
    &--login {
      padding-top: 0.5rem;
      color: $color-primary;
      border-bottom: 0.2rem dotted;
      margin-right: 14rem;
    }
  }

  &__continue {
    width: 10rem;
    margin: 1.3rem 0 0.5rem 21rem;
  }

&__input{
  width: 26rem;
}
&__input--password{
    height: 50rem;
}

}
