@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.signUp {
  background-color: $color-background;
  height: 100vh;
  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
    height: 45vh;
  }
  &__company {
    margin-left: -0.7rem;
  }
  &__contents {
    padding: 0.5rem 2.5rem;
    width: 30rem;
    background-color: $background-color;
  }

  &__header {
    color: $color-heading;
    font-family: $font-heading;
    font-weight: 500;
    font-size: 1.25rem;
    font-style: normal;
    margin-top: -1rem;
    margin-bottom: -2rem;
  }

  &__headerText {
    font-family: $font-login-text;
    color: $color-text;
    font-weight: 400;
    font-size: 0.7rem;
  }

  &__text {
    font-family: $font-login-text;
    color: $color-text;
    display: flex;

    &--account {
      font-size: 0.8rem;
      width: 9rem;
      color: $color-text-secondary;
    }
    &--login {
      display: flex;
      justify-content: flex-start;
      color: $color-primary;
      border-bottom: 0.15rem dotted;
      align-self: center;
      font-size: 0.8rem;
      margin: 0;
      padding: 0;
    }
  }

  &__continue {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0 1rem 0;
  }

  &__input--password {
    height: 50rem;
  }
}
