@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Outfit:wght@400;500;600&family=Roboto&display=swap");
* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0.5rem 0;
  display: inline-block;
  width: 100%;
}

button {
  font-size: 1rem;
}

h1 {
  font-size: 2.1rem;
}

h2 {
  font-size: 1.65rem;
}

h3 {
  font-size: 1.25rem;
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 110%;
  }
}
@media screen and (min-width: 1024px) {
  :root {
    font-size: 120%;
  }
}
.accountWrapper {
  display: flex;
  flex-direction: column;
  border: 2px solid green;
  margin-left: 15%;
}
.accountWrapper .userProfile {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border: 2px solid red;
  padding-right: 3rem;
}
.accountWrapper .accountWrapper__info {
  display: flex;
  flex-direction: row;
  border: 2px solid blue;
}
.accountWrapper .accountWrapper__info .left-hand-box {
  border: 2px solid purple;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.accountWrapper .contactPath {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 12px;
}
.accountWrapper .contactPath .changeColor {
  color: skyblue;
}

.topnav {
  margin-left: 20%;
}

.sidenav {
  margin-top: 0;
}

.heading {
  font-family: "Outfit", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  text-align: left;
  height: 2.5rem;
  color: #06020a;
}

p {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  color: #a6afbd;
}

.contactsList {
  font-family: "Outfit", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #06020a;
}