@use "../../styles/_typography.scss" as *;
@use "../../styles/_variables.scss" as *;

.accountWrapper {
    padding-left: 4rem;
    display: flex;
    flex-direction: column;
    margin-left: 12rem;
    margin-right: 5rem;
    height: 100vh;

    &__contacts {
        font-family: $font-heading;
        font-weight: 400;
        font-size: 12px; 
    }
    
    &__heading {
        font-family: $font-heading;
        font-size: 2rem;
        font-weight: 400;
        text-align: left;
        height: 2.5rem;
        color: $color-heading;
    }
        &__info{
            display: grid;
            grid-template-columns: 30% 70%;
            grid-template-rows: 80% 20%;
            grid-template-areas: 
                "contact transactions"
                "transfer transactions";
            grid-gap: 1rem;
            justify-items: center;

        .accountWrapper__transferRow {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;
            padding: 1rem 2rem;
            background-color: $color-currency-background;
            grid-area: transfer;
            p { 
            color: $color-heading;
            }
        }

        .accountWrapper__singleContact {
            grid-area: contact;
            width: 100%;
            height: 100%;
        }

        .accountWrapper__recentTransaction{
            grid-area: transactions;
            width: 100%;
            height: 100%;
        }
    }
}
.changeColor{
            
    color: skyblue;
}
.topnav {
    margin-left: 20%;
}

.sidenav {
    margin-top: 0;
}

p {
    font-family: $font-heading;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    color: $color-input-text;
}

.contactsList {
    font-family: $font-heading;
    font-size: 24px;
    font-weight: 400;
    color: $color-heading;

} 

.loggedIn {
    display: flex;
    justify-content: flex-end;
}
